body{
    display: flex;
    justify-content: center;
    align-content: center;
}
.calculator{
    display: flex;
    flex-direction: column;
    border: solid;
}
.screen{
    width: auto;
    height: 45px;
    border: solid black;
}