body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 2000px;
    width: auto;
}
.calculator{
    display: flex;
    flex-direction: column;
    
    border: solid;
    width: 500px;
    height: 700px;
}
.screen{
    width: auto;
    height: 16%;
    border: solid black;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: right;
    font-size: x-large;
}
.matrice{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    flex: 1;
    
}
.cleardelete{
    height: 16%;
    display: flex;
}


.buton{
  margin: 5px;
  border-radius: 15px;
  font-size: larger;
}
.cleardelete button{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 5px;
    border-radius:  15px;
    font-size: x-large;
    justify-content: center;
    align-items: center;
}